/* SEZIONE HEADER */
header{
  color: white;
  background-color: #0f1164;
}
 .navbar{
  background-size:70%;
  background-repeat: no-repeat;
  background-image:url(../img/header-bg.svg);
  padding: 2rem;
}
 .navbar img {
  width: 2rem;
  margin-right: 2rem;
}
 .navbar a {
  color: white;
  padding: 0;
  margin: 0 5px;
}
 .myBtn{
  margin-left: 2rem;
  border: 1px solid #0f1164;
  color: #0f1164;
  font-weight: bold;
}
 .navbar svg{
  margin-right: 10px;

}
 .navbar li:hover a{
  border-bottom: 1px solid white;
  padding-left: 0;
  padding-right: 0;
}
header .hero{
  height: 600px;
  text-align: center;
  background-image: url("../img/home-bg-3.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}
 .hero .heroMessage h1{
  padding-left: 50px;
  padding-right: 50px;
  font-size: 3rem;
  margin-bottom: 20px;
}
 .hero button{
  margin-top: 20px;
}
 .hero img{
  height: 600px;
}
/* SEZIONE HEADER END */
/* SEZIONE MAIN */
main .boxData{
  padding: 50px;
  border-top: 1px solid lightgrey;
}
main .boxData:not(:last-of-type){
  border-right: 1px solid lightgrey;
}
main .services{
  margin-top: 80px
}
main .smile{
  height: 500px;
  margin-top: 80px;
  margin-bottom: 80px;
}
main .smile .smileImg{
  height: 500px;
}
main .chatBox{
  text-align: center;
  padding:20px 80px;
}
main .chatBox .chatImg{
  height: 100px;
}
main .chatBox h4{
  font-size: 2.5rem;
}
main .chatBox h4,
main .chatBox p,
main .chatBox button{
  margin-top: 30px;
}
main .myBtnDue{
  background-color: #f76835;
  border: 1px solid #f76835;
  color: white;
  font-weight: bold;
}
main .skill{
  text-align: center;
  background-color: #0f1164;
  background-image: url(../img/info-bg-3.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 700px;
  color: white;
  padding-top: 80px;
}
main .list{
  margin-top: 50px;
  text-align: left;
  justify-content:center;

}
main .scheda{
  background-color: #040543;
  padding: 30px;
  margin: 0 20px;
  color: white;
}
main .scheda a {
  margin-top: 15px;
  color: #f36137;
  display: inline-block;
}
main .brand{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
main .title-brand{
  color: #f36137;
}
main .brand img {
  width: 100%;
}
main .prof{
  padding-top: 40px;
  padding-bottom: 40px;
}
main .prof .icona{
  width: 100px;
}
main .prof .woman-pc{
  height: 400px;
  width: auto;
}
main .delegate{
  text-align: left;
}
main .delegate a{
  display: block;
}
/* SEZIONE MAIN END */
/* SEZIONE FOOTER */
footer{
  background-color: #0f1164;
  color: white;
}
footer a{
  display: inline-block;
  margin-top: 20px;
  color: #f36137;
  text-decoration: none;
}
footer .hero{
  height: 400px;
  text-align: left;
  background-image: url("../img/home-bg-3.svg");
  background-size:130%;
  background-repeat: no-repeat;
  background-position: center;
}
footer .myBtn:hover,
header .myBtn:hover{
  background-color: #040543;
  border-color:  #040543;
  color: white;
}
